body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #d3d3d3;
  padding: 10px;
  display: flex;
  gap: 12px;
}

.nav-btn {
  text-decoration: none;
  background: #f2f2f2;
  padding: 8px 18px;
  border-radius: 6px;
  color: black;
  border: 1px solid #aaa;
}

.nav-btn.active {
  background: white;
  font-weight: bold;
}

.page {
  padding: 20px;
}
